<div class="slider__container">
    {{#if label}}<label class="slider__title">{{ label }}</label>{{/if}}
    <div class="slider">
        <input class="{{ class }}" type="range" min="{{ min }}" max="{{ max }}" value="{{ value }}" step="{{ step }}" name="{{ name }}">
        <span class="slider__value" slider_value="{{ value }}"></span>
    </div>
</div>