<div class="big-search">
    <div class="big-search__header big-search__header_sizing">
        <div class="big-search__search">
            <div class="big-search__icon">
                <span class="icon icon__size_middle icon__search icon_color_gray"></span>
            </div>
            <input class="input input__search" type="text" placeholder="Найти мероприятие"
                   name="searchBox" autocomplete="off">
        </div>
    </div>
    <div class="big-search__results">
        <div class="big-search__grid">
            {{#each events }}
                <div class="big-event">
                    <div class="big-event__photo">
                        <img src="{{ img }}" class="img img__event" alt="{{ eventName }}">
                    </div>
                    <div class="big-event__title">
                        <div class="font font__color_black font__title font__title_card font__size_small">{{ title }}</div>
                    </div>
                    <div class="big-event__description">
                        <div class="big-event__description_inact">
                            <div class="font font__color_black font__size_small-x">{{ description }}</div>
                        </div>
                        <div class="big-event__date">
                            <div class="font font__color_lg font__size_small-x">{{ date }}</div>
                        </div>
                        <hr class="big-event__line"/>
                        <div class="big-event__follow">
                            {{#if middle}}
                                <li class="big-event__subscribe big-event__subscribe_middle">
                                    <div class="big-event__link">
                                        <div class="font font__size_small-x font_underline font_pointer font__color_black">Откликнуться</div>
                                    </div>
                                </li>
                            {{else}}
                                <li class="big-event__subscribe big-event__subscribe_big">
                                    <div class="big-event__link">
                                        <div class="font font__size_small-x font_underline font_pointer font__color_black">Иду</div>
                                    </div>
                                </li>
                            {{/if}}
                            <div class="big-event__follow_count">
                                <div class="big-event__icon">
                                    <span class="icon icon__size_small-xx icon__users icon_color_black"></span>
                                </div>
                                <div class="font font__color_black font__size_small-xx font_bold">{{ followInfo }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
