<div class="profile-left">
    <h2>{{ profile.name }}{{#if profile.age}}, {{ profile.age }}{{/if}}</h2>
    <div class="profile-left__body">
        <form action="submit" id="form">
            <div class="profile-left__avatar">
                {{> $Blocks/avatar/template }}
            </div>
            <div class="profile-left__options-field">
                <h3>О себе</h3>
                {{> $Blocks/textarea/template body=profile.about rows=10 name='about' placeholder='Расскажите о себе и своих увлечениях' data_bind_event='saveAbout'}}
            </div>
            <div class="profile-left__options-field">
                <div class="profile-left__header">
                    <div class="section">
                        <div class="section__header section__header_3">
                            <h3>{{ YOUR_TAGS }}</h3>
                            <a href="" class="tags-redirect" data-bind-event="showModalTags">{{ ADD }}</a>
                        </div>
                    </div>
                </div>
                <div class="profile-left__tags" data-bind-event="removeTags"></div>
            </div>
            <div class="profile-left__options-field">
                <div class="profile-left__header">
                    <div class="section">
                        <div class="section__header section__header_3">
                            <h3>{{ SOCIAL_NETWORKS }}</h3>
                            <a href="">{{ ADD }}</a>
                        </div>
                    </div>
                </div>
                {{#if profile.networks}}
                    {{#each profile.networks}}
                        <!-- TODO: add networks -->
                    {{/each}}
                {{else}}
                    <div>
                        <span class="icon icon__size_middle icon_color_lg icon__fb"></span>
                        <span class="icon icon__size_middle icon_color_lg icon__inst"></span>
                        <span class="icon icon__size_middle icon_color_lg icon__twitter"></span>
                        <span class="icon icon__size_middle icon_color_lg icon__vk"></span>
                        <span class="icon icon__size_middle icon_color_lg icon__ok"></span>
                        <span class="icon icon__size_middle icon_color_lg icon__moimir"></span>
                    </div>
                {{/if}}
            </div>
            <div class="profile-left__exit">
                {{> $Blocks/button-comp/template button_logout}}
            </div>
        </form>
    </div>
    <div class="profile-left__footer">
        {{> $Blocks/button-comp/template settings_button}}
        {{> $Blocks/button-comp/template save_button}}
    </div>
</div>
