<div class="creator_card">
    <img class="creator_card__avatar" src="{{ this.avatar }}" alt="{{ this.avatar }}">
    <div class="creator_card__name">{{ this.name }}</div>
    <div class="creator_card__about">{{{ this.about }}}</div>
    {{#if this.links}}
    <div class="separator separator_horizontal separator_white_blue"></div>
        <div class="creator_card__links">
            {{#if this.links.github}}
                <a href="{{ this.links.github }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 27">
                        <circle fill="#fff" r="14" cy="14" cx="14"></circle>
                        <path fill="url(#gradient-svg)" d="M13.999 0C6.269 0 0 6.197 0 13.842c0 6.116 4.011 11.303 9.574 13.133.7.128.956-.3.956-.667 0-.328-.012-1.199-.019-2.353-3.894.836-4.716-1.856-4.716-1.856-.637-1.6-1.554-2.025-1.554-2.025-1.272-.858.096-.841.096-.841 1.405.097 2.144 1.426 2.144 1.426 1.249 2.115 3.277 1.504 4.075 1.15.127-.894.489-1.504.888-1.85-3.108-.349-6.377-1.537-6.377-6.84 0-1.512.546-2.748 1.442-3.715-.145-.35-.625-1.758.137-3.663 0 0 1.175-.372 3.85 1.419A13.553 13.553 0 0114 6.693c1.19.006 2.387.16 3.505.467 2.673-1.791 3.846-1.42 3.846-1.42.764 1.906.284 3.314.14 3.664.898.967 1.44 2.203 1.44 3.714 0 5.318-3.275 6.488-6.393 6.83.502.428.95 1.272.95 2.564 0 1.85-.017 3.343-.017 3.796 0 .37.253.802.962.667C23.993 25.14 28 19.955 28 13.842 28 6.197 21.731 0 13.999 0" id="a"/>
                    </svg>
                </a>
            {{/if}}
            {{#if this.links.vk }}
                <a href="{{ this.links.vk }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 192">
                        <path fill="url(#gradient-svg)" d="M66.56 0h58.88C179.2 0 192 12.8 192 66.56v58.88c0 53.76-12.8 66.56-66.56 66.56H66.56C12.8 192 0 179.2 0 125.44V66.56C0 12.8 12.8 0 66.56 0z"/>
                        <path fill="#FFF" d="M157.234 66.146c.89-2.966 0-5.146-4.234-5.146h-14c-3.56 0-5.2 1.883-6.09 3.96 0 0-7.12 17.353-17.206 28.625-3.263 3.263-4.746 4.301-6.526 4.301-.89 0-2.178-1.038-2.178-4.004V66.146c0-3.56-1.033-5.146-4-5.146H81c-2.224 0-3.562 1.652-3.562 3.218 0 3.375 5.042 4.153 5.562 13.645V98.48c0 4.52-.816 5.34-2.596 5.34-4.746 0-16.29-17.432-23.138-37.377C55.924 62.566 54.578 61 51 61H37c-4 0-4.8 1.883-4.8 3.96 0 3.708 4.747 22.1 22.1 46.424C65.869 127.995 82.168 137 97 137c8.9 0 10-2 10-5.445V119c0-4 .843-4.798 3.661-4.798 2.077 0 5.636 1.038 13.943 9.047C134.096 132.742 135.66 137 141 137h14c4 0 6-2 4.846-5.947-1.262-3.934-5.794-9.64-11.808-16.406-3.263-3.857-8.158-8.01-9.64-10.086-2.077-2.67-1.484-3.857 0-6.23 0 0 17.056-24.027 18.836-32.185z"/>
                    </svg>
                </a>
            {{/if}}
            {{#if this.links.tg}}
                <a href="{{ this.links.tg }}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240 240">
                        <circle fill="url(#gradient-svg)" r="120" cy="120" cx="120"/>
                        <path d="M49.942 118.96l80.81-33.295c7.977-3.468 35.03-14.566 35.03-14.566s12.486-4.855 11.445 6.936c-.347 4.855-3.12 21.85-5.896 40.23l-8.67 54.45s-.694 7.977-6.6 9.364-15.607-4.855-17.34-6.243c-1.387-1.04-26.012-16.647-35.03-24.277-2.428-2.08-5.202-6.243.347-11.098 12.486-11.445 27.4-25.665 36.416-34.682 4.162-4.162 8.324-13.873-9.017-2.08l-48.902 32.948s-5.55 3.468-15.954.347-22.543-7.283-22.543-7.283-8.324-5.202 5.896-10.75z" fill="#fff"/>
                    </svg>
                </a>
            {{/if}}
        </div>
    {{/if}}
</div>