<div class="feed-center">
    <h1>{{log this}}</h1>
    <img class="feed-center__photos" src="{{ photos }}" alt="{{ photos }}">
    <!--TODO: image options-footer here-->
    <div class="feed-center__profile">
        <div>
            <h1>{{ title }}</h1>
            <h3>{{ date }}</h3>
            <div class="feed-center__about">{{ description }}</div>
        </div>
        <div class="feed-center__tags">
            <div class="tag tag_size_middle">{{ tag.name }}</div>
        </div>
    </div>
    <div class="feed-center__action-buttons">
        <button class="re_btn__reject">ДА</button>
        <button class="re_btn__approve">НЕТ</button>
    </div>
</div>
