{{#if events}}
    <div class="auth__help">Персональные эвенты</div>
    {{#each events}}
        <div class="event search_events">
            {{#if this.photos}}
                <div class="event__photos">
                    {{#each this.photos }}
                        <img class="event__item event__item event__item_one" src="{{this}}" alt="{{this}}">
                    {{/each}}
                </div>
            {{/if}}
        <div class="event__title">{{ this.title }}</div>
        <div class="event__place">{{ this.place }}</div>
        <div class="event__description">{{ this.description }}</div>
        <button class="btn btn_size_middle btn_color_ok">Пойти</button>
        </div>
    {{/each}}
{{else}}
    <h3 class="profile__title profile__title_blue">"Эвентов нет :("</h3>
{{/if}}

<style>
    .search_events {
        border-radius: 13px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
</style>