<div class="container full-height">
    <div class="feed__header">
        <svg class="filters__filter-icon" data-bind-event="toggleFiltersActive" viewBox="-4 0 393 393.99" xmlns="http://www.w3.org/2000/svg"><path d="M368.313 0H17.05A16.5 16.5 0 002.344 8.96a16.732 16.732 0 001.3 17.415l128.688 181.281c.043.063.09.121.133.184a36.769 36.769 0 017.219 21.816v147.797a16.429 16.429 0 0016.433 16.535c2.227 0 4.426-.445 6.48-1.297l72.313-27.574c6.48-1.976 10.781-8.09 10.781-15.453V229.656a36.774 36.774 0 017.215-21.816c.043-.063.09-.121.133-.184L381.723 26.367a16.717 16.717 0 001.3-17.406A16.502 16.502 0 00368.313 0zM236.78 195.992a56.931 56.931 0 00-11.097 33.664v117.578l-66 25.164V229.656a56.909 56.909 0 00-11.102-33.664L23.648 20h338.07zm0 0"/></svg>
    </div>
    <div class="feed">
        <div class="filters"></div> <!--Filters are inserted later in js-->
        <main class="feed__main">
            <div class="feed__column feed__column_main">
                <div class="feed__main-body">
                    <div class="spinner"></div>
                </div>
                <div class="feed__main-footer" data-bind-event="handleVote">
                    <button class="feed__button gradient-border feed__button-reject">{{{ like_icon }}}</button>
<!--                    <button class="feed__button gradient-border feed__button-skip">{{{ skip_icon }}}</button>-->
                    <button class="feed__button gradient-border feed__button-approve">{{{ like_icon }}}</button>
                </div>
            </div>
            <div class="feed__column feed__column_events" data-bind-event="showAction">
                <div class="feed__personal-events">
                    <div class="feed-right__title">
                        <div class="font font_bold font__color_black font__size_small-xx">{{ PERSONAL_EVENTS_HEADER }}</div>
                    </div>
                    <div class="feed__personal-events_body"></div>
                </div>
                <div class="feed__subscriptions">
                    <div class="feed-right__title">
                        <div class="font font_bold font__color_black font__size_small-xx">{{ SUBSCRIPTIONS_HEADER }}</div>
                    </div>
                    <div class="feed__subscriptions_body"></div>
                </div>
            </div>
        </main>
    </div>
</div>