<div class="profile"><h1 class="profile__title">{{ profile.name }}</h1>
    <div class="profile__page">
        <div class="profile__column profile__filed"><h3 class="profile__title profile__title_blue">О себе</h3>
            <textarea class="input input__text_small" placeholder="Расскажите о себе и своих увлечениях">{{ profile.about }}</textarea>
            <div class="profile__btn">
                <button class="btn btn_color_ok btn_size_middle" type="submit">
                    <div class="btn__text btn__text_w">Готово</div>
                </button>
                <button class="btn btn_color_b btn_size_middle">
                    <div class="btn__text btn__text_w">Настройки</div>
                </button>
            </div>
        </div>
        <div class="profile__column profile__filed">
            <h3 class="profile__title profile__title_blue">Фото</h3>
            <div class="profile__photos">
                {{#each profile.photos}}
                <img class="profile__photo_img" src="{{ this }}" alt="{{ this }}">
                {{/each}}
            </div>
            <input class="icon__input icon__add icon icon_size_large" type="file">
        </div>
        <div class="profile__column profile__filed">
            <h3 class="profile__title profile__title_blue">Ваши тэги</h3>
            <div class="icon icon__add icon_size_x">ADD</div>
            <div class="profile__tags">
                <div class="tag tag_size_middle">#хочувБАР</div>
                <div class="tag tag_size_middle">#хочувКИНО</div>
                <div class="tag tag_size_middle">#хочунаКАТОК</div>
                <div class="tag tag_size_middle">#хочуГУЛЯТЬ</div>
                <div class="tag tag_size_middle">#хочуКУШАЦ</div>
                <div class="tag tag_size_middle">#хочуСПАТЬ</div>
            </div>
            <h3 class="profile__title profile__title_blue">Ваши эвенты</h3>
            <div class="icon icon__add icon_size_x">ADD</div>
            <div class="profile__events">
                {{#each events}}
                <div class="event">
                    <div class="event__photos">
                        {{#each this.photos }}
                        <img class="event__item event__item event__item_one" src="{{this}}" alt="{{this}}">
                        {{/each}}
                    </div>
                    <div class="event__title">{{ this.title }}</div>
                    <div class="event__place">{{ this.place }}</div>
                    <div class="event__description">{{ this.description }}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>