<div class="search">
    <div class="column search-column">
        <form action="submit" id="form">
            <div class="">
                <div class="auth__help">Поиск по названию</div>
                <input class="input input__auth" name="search_text" placeholder="Люди как люди">
            </div>
            
            <div class="separator"></div>
            
            <div class="tag-select">
                <div class="auth__help">Поиск по тегам</div>
                {{#each tags}}
                <div class="search_tag" style="opacity: 0.5">
                    <div class="tag tag_size_middle">{{this.title}}</div>
                    <div class="x_btn">X</div>
                </div>
                {{/each}}
            </div>

            <div class="separator"></div>

            <button class="btn btn_color_b btn_size_middle">
                <div class="btn__text btn__text_w">Search</div>
            </button>
        </form>
    </div>
    
    
    
    <div class="column main-column">
        <div class="photos-container">
            <div class="photos">
                <img class="search_profile_photo" src="ProfilePhotos/1.jpg" alt="">
<!--                TODO: image scroll here-->
            </div>
            <div class="search__photos__buttons">
                <button class="btn btn_color_b btn_size_large">
                    <div class="btn__text btn__text_w">no</div>
<!--                    <img src="" alt="no">-->
                </button>
                <button class="btn btn_color_ok btn_size_large">
                    <div class="btn__text btn__text_w">YES!</div>
<!--                    <img src="" alt="yes">-->
                </button>
            </div>
        </div>
    </div>
    
    
    
    <div class="column profile-column">
        <h1 class="profile__title">{{ profile.name }}  {{profile.age}}</h1>
        <p class="search_profile_about">{{ profile.about }}</p>
        {{#if events}}
        <h3 class="profile__title profile__title_blue">Эвенты</h3>
        {{/if}}
        {{#each events}}
        <div class="event search_events">
            <div class="event__photos">
                {{#each this.photos }}
                <img class="event__item event__item event__item_one" src="{{this}}" alt="{{this}}">
                {{/each}}
            </div>
            <div class="event__title">{{ this.title }}</div>
            <div class="event__place">{{ this.place }}</div>
            <div class="event__description">{{ this.description }}</div>
            <button class="btn btn_size_middle btn_color_ok">Пойти</button>
        </div>
        {{/each}}
    </div>
</div>

<style>
    .search {
        height: 90vh;
        width: 90vw;
        min-width: 800px;
        margin: auto;
        text-align: left;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        padding: 5px;
    }
    .column {
        background-color: white;
        border-radius: 13px;
        padding: 20px;
        margin: 5px;
        max-height: 100%;
        overflow: auto;
    }
    .search-column {
        width: 20%;
    }
    .main-column {
        min-width: 40%;
        max-width: 50%;
        width: auto;
    }
    .photos-container {
        width: 100%;
        height: 100%;
    }
    .search_profile_photo {
        width: 100%;
        height: 100%;
    }
    .profile-column {
        width: 30%;
    }
    .search__photos__buttons {
        margin-top: 20px;
    }
    .separator {
        height: 1px;
        width: auto;
        margin: 20px 0;
        background-color: darkgrey;
    }
    .search_tag {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .x_btn {
        display: none;
    }
    .search_events {
        border-radius: 13px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
</style>