<div class="auth">
    {{#each blocks as |form|}}
        {{#if main}}
            <div class="auth__item auth__item_main">
                <div class="auth__title auth__title_main">{{ title }}</div>
                <form class="auth__smth" id="form">
                    {{#each fields}}
                        <div class="auth__input">
                            <div class="auth__help">{{ name }}</div>
                            <label>
                                <input class="input input__auth" placeholder="{{ help }}" type="{{ type }}">
                            </label>
                        </div>
                    {{/each}}
                    <div class="auth__btn">
                        <button class="btn btn_color_ok btn_size_middle" type="submit">
                            <div class="btn__text btn__text_w">{{ button }}</div>
                        </button>
                    </div>
                </form>
            </div>
        {{else}}
            <div class="auth__item">
                <div class="auth__title">{{title}}</div>
                <div class="auth__text">{{help}}</div>
                <div class="auth__btn">
                    <button class="btn btn_color_w btn_size_large" type="submit">
                        <div class="btn__text btn__text_b">{{button}}</div>
                    </button>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>
