<h1>{{ title }}</h1>
<div class="my__main_column__body">
    <div class="new_profile__photos">
        <div class="section__header section__header_2">
            <h2>Фото</h2>
            <div class="link-uploader">
                <label for="photoUpload">Добавить</label>
                <input id="photoUpload" type="file" />
            </div>
        </div>
        <div class="photo_columns">
            {{#each profile.photos}}
                <img class="photo" src="{{ this }}" alt="{{ this }}">
            {{/each}}
        </div>
    </div>
    <div class="new_profile__separator"></div>
    <div class="new_profile__events">
        <div class="section__header section__header_2">
            <h2>Эвенты</h2>
        </div>
        <div class="new_profile__events__group">
            <div class="section__header section__header_3">
                <h3>Ваши эвенты</h3>
                <a href="#">Добавить</a>
            </div>
            {{#if profile.events.personal}}
                {{#each profile.events.personal as |event|}}
                    {{>event}}
                {{/each}}
            {{else}}
                <button class="re_btn re_btn__outline">Добавить</button>
            {{/if}}
        </div>
        <div class="new_profile__events__group">
            <div class="section__header section__header_3">
                <h3>Ваши подписки</h3>
                <a href="#">Добавить</a>
            </div>
            {{#if profile.events.others}}
                {{#each profile.events.others as |event|}}
                    {{>event}}
                {{/each}}
            {{else}}
                <button class="re_btn re_btn__outline">Добавить</button>
            {{/if}}
        </div>
    </div>
</div>