<div class="profile-main">
    <div class="profile-main__photos">
        <div class="section">
            <div class="section__header section__header_2">
                <h2>{{ PHOTOS }}</h2>
                <div class="link-uploader">
                    <label for="photoUpload">{{ ADD }}</label>
                    <input id="photoUpload" type="file" data-bind-event="photoUpload" multiple/>
                </div>
            </div>
        </div>
        <div class="photo-columns" data-bind-event="removeUserImage">
            {{#if profile.photos}}
                {{#each profile.photos as | photo |}}
                    {{> $Blocks/image-edit/template photo}}
                {{/each}}
            {{else}}
                <span class="font font_bold font__size_middle font__color_lg">{{ NO_PHOTOS }}</span>
            {{/if}}
        </div>
    </div>
    <div class="profile-main__separator"></div>
    <div class="profile-main__events">
        <div class="section">
            <div class="section__header section__header_2">
                <h2>{{ EVENTS }}</h2>
            </div>
        </div>
        <div class="section">
            <div class="section__header section__header_3">
                <h3>{{ YOUR_EVENTS }}</h3>
                <span data-bind-event="showAddEvent">{{ ADD }}</span>
            </div>
        </div>
        <div class="profile-main__group">
            {{> $Blocks/event-edit/template event_edit}}
            <div class="profile-main__personal-events">
                {{#if profile.events}}
                    {{#each profile.events as |event|}}
                        {{> $Blocks/event/template }}
                    {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="section">
            <div class="section__header section__header_3">
                <h3>{{ YOU_VISIT }}</h3>
            </div>
        </div>
        <div class="profile-main__group profile-main__subscriptions" data-bind-event="showAction">
            {{#if profile.events.others}}
                {{#each profile.events.others as |event|}}
                    {{> $Blocks/event/template }}
                {{/each}}
            {{else}}
                {{> $Blocks/loading/template}}
            {{/if}}
        </div>
    </div>
</div>

